<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="login-image">
    <img src="assets/img/DT_login.png" alt="Ionic logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" placeholder="username" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" placeholder="password123" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>

  </form>

</ion-content>
