ion-button {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    --background: black;
}

ion-label, ion-text p  {
    font-weight: bold;
}

ion-icon {
    margin-right: 10px;
}

.login-image {
    height: 400px;
}