<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon src="/assets/img/home.svg"></ion-icon>
      <ion-label>Dashboard</ion-label>
      <ion-badge color="danger">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="portfolio">
      <ion-icon src="/assets/img/folder.svg"></ion-icon>
      <ion-label>Portfolio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon src="/assets/img/search.svg"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts">
      <ion-icon src="/assets/img/alert.svg"></ion-icon>
      <ion-badge color="danger">99</ion-badge>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="/assets/img/profile.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
