<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="chevron-back"></ion-back-button>
    </ion-buttons> 
    <ion-title *ngIf="holdingDetail?.holdingInfo.type === 'Stock'">Stock Details</ion-title>
    <ion-title *ngIf="holdingDetail?.holdingInfo.type === 'Issuer'">Issuer Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="title">{{ holdingDetail?.securityInfo.aliasName }}</ion-label>
    <ion-chip class="restricted" *ngIf="holdingDetail?.status === 'restricted'">
      <ion-label>Restricted</ion-label>
    </ion-chip>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-item class="item-title">
        <ion-label>Holding Information</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item> 
          <ion-label>
            <p class="item-sub-title"> Holding Type </p>
            <p class="item-content"> {{ holdingDetail?.holdingInfo.type }} </p>
          </ion-label>
        </ion-item>
        <ion-item> 
          <ion-label>
            <p class="item-sub-title"> Acquired By </p>
            <p class="item-content"> {{ holdingDetail?.holdingInfo.AcquiredBy }} </p>
          </ion-label>
        </ion-item>
        <ion-item> 
          <ion-label>
            <p class="item-sub-title"> Acquired Date </p>
            <p class="item-content"> {{ holdingDetail?.holdingInfo.AcquiredDate }} </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="item-sub-title"> Portfolio </p>
            <p class="item-content"> {{ holdingDetail?.holdingInfo.Portfolio }} </p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item class="item-title">
        <ion-label>Stock Information</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item> 
          <ion-label>
            <p class="item-sub-title"> Stock Alias Name </p>
            <p class="item-content"> {{ holdingDetail?.securityInfo.aliasName }} </p>
          </ion-label>
        </ion-item>
        <ion-item> 
          <ion-label>
            <p class="item-sub-title"> Country of Origin </p>
            <p class="item-content"> {{ holdingDetail?.securityInfo.country }} </p>
          </ion-label>
        </ion-item>
        <ion-item> 
          <ion-label>
            <p class="item-sub-title"> Symbol(Exchange) </p>
            <p class="item-content"> {{ holdingDetail?.securityInfo.identifier }} </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="item-sub-title"> Exchange </p>
            <p class="item-content"> {{ holdingDetail?.securityInfo.exchange }} </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="item-sub-title"> CUSIP </p>
            <p class="item-content"> {{ holdingDetail?.securityInfo.cusip }} </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p class="item-sub-title"> ISIN </p>
            <p class="item-content"> {{ holdingDetail?.securityInfo.ISIN }} </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" (click)="handleManageHoldingButtonClick()">Manage Holding</ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
