ion-item-divider {
    --background: rgb(223, 239, 247);
}
ion-list-header{
    width: 95%;
}
.portfolio-title {
    font-size: 20px;
    font-weight: bolder;
    padding-left:0px;
}

ion-chip {
    padding-left: 0px;
}
