<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-list [hidden]="portfolios.length === 0">
    <ion-list-header>
      <ion-select value="All Portfolios">
        <ion-select-option value="All Portfolios">All Portfolios</ion-select-option>
        <ion-select-option *ngFor="let portfolio of portfolios" value="{{portfolio}}">{{portfolio}}</ion-select-option>
      </ion-select>
      <ion-lable slot="end"><ion-icon name="folder"></ion-icon></ion-lable>
    </ion-list-header>

    <ion-item-group>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
   </ion-item-group>

    <ion-item-group *ngFor="let portfolio of portfolios">
      <ion-item-divider sticky>
        <ion-label>
          {{portfolio}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let holding of portfoliosdata">
        <ion-item routerLink="">
          <ion-label>
            <h3>{{holding.name}}</h3>
            <p>
              {{holding.entityType}}
            </p>
            <p>
              {{holding.identifier}}
            </p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="portfolios.length > 0">
    No Sessions Found
  </ion-list-header>

</ion-content>