<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-list [hidden]="portfolios.length === 0">
    <ion-list-header>
      <ion-select value="All Portfolios">
        <ion-select-option value="All Portfolios">All Portfolios</ion-select-option>
        <ion-select-option *ngFor="let portfolio of portfolios" value="{{portfolio}}">{{portfolio}}</ion-select-option>
      </ion-select>
      <ion-lable slot="end"><ion-icon name="folder"></ion-icon></ion-lable>
    </ion-list-header>

    <ion-item-group>
      <ion-toolbar>
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updatePortfolioData()" placeholder="Search"></ion-searchbar>
      </ion-toolbar>
   </ion-item-group>

    <ion-item-group *ngFor="let portfolio of portfolios">
      <ion-item-divider sticky>
        <ion-label>
          {{portfolio}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let holding of portfoliosdata">
        <ion-item routerLink="/tabs/portfolio/holdingdetail/{{holding.id}}" [hidden]="holding?.hide">
          <ion-label>
            <h2 class = "list-item">{{holding.name}}</h2>
            <p>
              {{holding.entityType}}
            </p>
            <p>
              {{holding.identifier}}
            </p>
          </ion-label>
          <ion-chip class="restricted" *ngIf="holding?.status == 'restricted'">
            <ion-label>Restricted</ion-label>
          </ion-chip>
          <ion-chip class="selfcleared" *ngIf="holding?.status == 'selfcleared'">
            <ion-label>Self-Cleared</ion-label>
          </ion-chip>
          <ion-chip class="importpending" *ngIf="holding?.status == 'importpending'">
            <ion-label>Import Pending</ion-label>
          </ion-chip>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="portfolios.length > 0">
    No Sessions Found
  </ion-list-header>

</ion-content>