ion-icon {
    color: #0A6C86;
    font-size: 25px;
    margin-right: 8px;
}

ion-card {
    width: 92%;
    padding: auto;
}

ion-card-header, ion-card-content {
    padding-left: 2px;
    padding-right: 2px;
}

