<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let outstanding of outstandings">
        <ion-card>
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item" routerLink="">
              <ion-icon *ngIf="outstanding.type == 'OI'" name="document-text-outline"></ion-icon>
              <ion-icon *ngIf="outstanding.type == 'OE'" name="alert-circle-outline"></ion-icon>
              <ion-icon *ngIf="outstanding.type == 'OPA'" name="person-outline"></ion-icon>
              <ion-label>
                <h2>{{outstanding.name}}</h2>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item *ngFor="let item of outstanding.list" detail="false" routerLink="">
                  <ion-label>
                    <h3>{{item?.desc}}</h3>
                    <p *ngIf="outstanding.type == 'OI'">Inspection Deadline: {{item?.inspectionDeadline}}</p>
                    <p *ngIf="outstanding.type == 'OE'">Action Required By: {{item?.actionRequiredBy}}</p>
                    <p *ngIf="outstanding.type == 'OPA'">Expires: {{item?.expires}}</p>
                  </ion-label>
                  <ion-chip calss="outstainding-item" color="danger" *ngIf="item?.status == 'restricted'">
                    <ion-label>Restricted</ion-label>
                  </ion-chip>
                  <ion-chip calss="outstainding-item" color="dark" *ngIf="item?.status == 'Not Strated'">
                    <ion-label>Not Strated</ion-label>
                  </ion-chip>
                  <ion-chip calss="outstainding-item" color="dark" *ngIf="item?.status == 'submitted'">
                    <ion-label>Submitted</ion-label>
                  </ion-chip>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

