<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-card *ngFor="let outstanding of outstandings">
    <ion-card-header>
      <ion-item detail="false" lines="none">
        <ion-icon class="ion-icon" *ngIf="outstanding.type == 'OI'" name="folder-open"></ion-icon>
        <ion-icon class="ion-icon" *ngIf="outstanding.type == 'OE'" name="flame"></ion-icon>
        <ion-icon class="ion-icon" *ngIf="outstanding.type == 'OPA'" name="person"></ion-icon>
        <ion-label>
          <h2><b>{{outstanding.name}}</b></h2>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let item of outstanding.list" routerLink="">
            <ion-label>
              <h2 class="list-item">{{item?.desc}}</h2>
              <p *ngIf="outstanding.type == 'OI'">Inspection Deadline: {{item?.inspectionDeadline}}</p>
              <p *ngIf="outstanding.type == 'OE'">Action Required By: {{item?.actionRequiredBy}}</p>
              <p *ngIf="outstanding.type == 'OPA'">Expires: {{item?.expires}}</p>
            </ion-label>
            <ion-chip class="restricted"  *ngIf="item?.status == 'restricted'">
              <ion-label>Restricted</ion-label>
            </ion-chip>
            <ion-chip class="notstarted" *ngIf="item?.status == 'Not Strated'">
              <ion-label>Not Strated</ion-label>
            </ion-chip>
            <ion-chip class="submitted" *ngIf="item?.status == 'submitted'">
              <ion-label>Submitted</ion-label>
            </ion-chip>
            <ion-chip class="overdue" *ngIf="item?.status == 'overdue'">
              <ion-label>Overdue</ion-label>
            </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

